.error-text {
    color: red;
    margin: 5px 0px;
    font-size: 20px;
}

.card-img, .card-img-bottom, .card-img-top {
    height: 200px;
}

.cart-input-num {
    width: 50px;
    text-align: center;
    border: none;
    appearance: none;
    outline: none;
    border: 1px solid #ccc;
}


.error-request{
    color: red;
}

a[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

#header.fixed{
    background: white;
    box-shadow: 0 0 10px #00000047;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 40px 0px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }