* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.error-text {
    color: red;
    margin: 5px 0px;
    font-size: 20px;
}

.card-img, .card-img-bottom, .card-img-top {
    height: 200px;
}

.cart-input-num {
    width: 50%;
    text-align: center;
    border: none;
    appearance: none;
    outline: none;
    border: 1px solid #ccc;
}


.error-request{
    color: red;
}

a[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

#header.fixed{
    background: white;
    box-shadow: 0 0 10px #00000047;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 40px 0px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }

  .card-lg .card-body, .card-lg .card-footer {
    padding: 0.95rem;
  }

  .list-group-strong .list-group-item.active {
      color: orange
  }

  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .box {
    position: absolute;
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
    padding: 4;
  }

  .cateScroll {
    padding: 20px 0px;
    overflow-y: auto;
    height: 440px;
  }

  .form-group:hover .overlay {
    opacity: 0.5;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url('/img/upload.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-group:hover .overlay1 {
    opacity: 0.5;
  }

  .overlay1 {
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url('/img/upload.png');
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  .dropdown-toggle::after, .dropright-toggle::after {
    margin-left: 0px;
  }

  .list-styled {
    padding-left: 0;
    padding-top: 15px;
  }

  .list-styled-link {
    padding-left: 25px; 
  }

  .icon-img {
    z-index: 1;
    width: 18%;
  }

  @media (max-width: 991px) {
    .navbar .container {
      display: flex;
      flex-wrap: nowrap;
      align-items: unset;
      justify-content: unset;
    }
    .func.collapse:not(.show) {
      display: block;
    }

    .navbar-brand {
      text-align: center;
    }

    .icon-img {
      z-index: 1;
      width: 200px;
    }

    .navbar-nav {
      justify-content: flex-end;
    }
  }

  

  